Repository mokkun55/yurigaoka-app: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, spell-check-student, spell-check-teacher, tsc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: pnpm run lint
      stage_fixed: true

    prettier:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: pnpm run format:fix
      stage_fixed: true

    spell-check-student:
      glob: 'apps/student/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: cd apps/student && pnpm cspell "src/**/*.{ts,tsx,md,json}"

    spell-check-teacher:
      glob: 'apps/teacher/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: cd apps/teacher && pnpm cspell "src/**/*.{ts,tsx,md,json}"

    tsc:
      glob: '*.{js,ts,tsx}'
      run: pnpm run tsc

fix: ci workflow remove build step
  .github/workflows/ci.yml
Due: none

feat: setup monorepo functions
  COMMANDS.md
  MIGRATION_SUMMARY.md
  README.md
  apps/student/firebase.json
  apps/student/makefile
  lefthook.yml
  packages/README.md
  packages/functions/.gitignore
  packages/functions/README.md
  packages/functions/package-lock.json
  packages/functions/package.json
  packages/functions/src/index.ts
  packages/functions/tsconfig.json
Due: eslint, prettier, tsc

fix: lefthook.yml
  lefthook.yml
Due: none

wip: firebase authentication and user management
  .firebaserc
  .gitignore
  COMMANDS.md
  Makefile
  README.md
  STRUCTURE.md
  apps/student/makefile
  apps/student/package.json
  apps/student/src/app/(home)/page.tsx
  apps/student/src/app/absence/home/page.tsx
  apps/student/src/app/develop/page.tsx
  apps/student/src/app/history/[id]/page.tsx
  apps/student/src/app/history/page.tsx
  apps/student/src/hooks/useUser.ts
  apps/student/tsconfig.json
  apps/teacher/package.json
  apps/teacher/tsconfig.json
  firebase.json
  firestore.indexes.json
  firestore.rules
  packages/README.md
  packages/common/.gitignore
  packages/common/README.md
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/types/index.ts
  packages/common/src/types/user.ts
  packages/common/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier, spell-check-student, tsc

feat: dashboard のタイトル変更
  apps/student/src/app/(home)/page.tsx
Due: eslint, prettier, spell-check-student, tsc

fix: いらないインポートの削除
  apps/student/src/lib/firebase/client.ts
Due: eslint, prettier, spell-check-student, tsc

feat: カスタムクレームを使用したセッション管理
  apps/student/emulator-data/auth_export/accounts.json
  apps/student/emulator-data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/student/emulator-data/firestore_export/all_namespaces/all_kinds/output-0
  apps/student/emulator-data/firestore_export/firestore_export.overall_export_metadata
  apps/student/src/app/api/auth/customToken/route.ts
  apps/student/src/app/api/auth/refreshSession/route.ts
  apps/student/src/app/api/auth/sessionLogin/route.ts
  apps/student/src/app/layout.tsx
  apps/student/src/hooks/useAuth.ts
  apps/student/src/hooks/useTokenRefresh.ts
  apps/student/src/lib/firebase/admin.ts
  apps/student/src/providers/TokenRefreshProvider.tsx
  cspell.json
  packages/functions/src/index.ts
Due: eslint, prettier, spell-check-student, tsc

feat: セッション管理、middlewareの改善
  apps/student/emulator-data/auth_export/accounts.json
  apps/student/emulator-data/auth_export/config.json
  apps/student/emulator-data/firebase-export-metadata.json
  apps/student/emulator-data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/student/emulator-data/firestore_export/all_namespaces/all_kinds/output-0
  apps/student/emulator-data/firestore_export/firestore_export.overall_export_metadata
  apps/student/package.json
  apps/student/src/app/api/auth/customToken/route.ts
  apps/student/src/app/api/auth/refresh-session/route.ts
  apps/student/src/app/api/auth/session-login/route.ts
  apps/student/src/app/api/auth/verify-token/route.ts
  apps/student/src/hooks/useAuth.ts
  apps/student/src/hooks/useTokenRefresh.ts
  apps/student/src/middleware.ts
  pnpm-lock.yaml
Due: eslint, prettier, spell-check-student, tsc

feat: monorepo名前変更、firebaseのconverterを追加
  apps/student/package.json
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/(login)/create-user/page.tsx
  apps/student/src/app/absence/home/page.tsx
  apps/student/src/app/history/[id]/page.tsx
  apps/student/src/app/history/page.tsx
  apps/student/src/hooks/useUser.ts
  apps/student/src/lib/firebase/converters/index.ts
  apps/student/src/lib/firebase/converters/invite-code-converter.ts
  apps/student/src/lib/firebase/converters/submission-converter.ts
  apps/student/src/lib/firebase/converters/teacher-whitelist-converter.ts
  apps/student/src/lib/firebase/converters/tercher-whitelist-converter.ts
  apps/student/src/lib/firebase/converters/user-converter.ts
  apps/student/tsconfig.json
  apps/teacher/package.json
  apps/teacher/tsconfig.json
  packages/README.md
  packages/common/README.md
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/types/index.ts
  packages/common/src/types/invite-code.ts
  packages/common/src/types/location.ts
  packages/common/src/types/submission.ts
  packages/common/src/types/teacher-whitelist.ts
  packages/common/src/types/user.ts
  packages/functions/package-lock.json
  packages/functions/package.json
  pnpm-lock.yaml
Due: eslint, prettier, spell-check-student, tsc

feat: add teacher access denied page and logout page
  apps/student/.env.example
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/(login)/login/page.tsx
  apps/student/src/app/develop/page.tsx
  apps/student/src/app/error/teacher-access-denied/page.tsx
  apps/student/src/app/layout.tsx
  apps/student/src/app/logout/page.tsx
  apps/student/src/hooks/useAuth.ts
  apps/student/src/hooks/useUser.ts
  apps/student/src/lib/firebase/client.ts
  apps/student/src/middleware.ts
  apps/student/src/providers/AuthProvider.tsx
Due: eslint, prettier, spell-check-student, tsc

feat: ログアウトAPI, ログインAPIにカスタムクレームを追加
  apps/student/src/app/api/auth/session-login/route.ts
  apps/student/src/app/api/auth/session-logout/route.ts
  apps/student/src/hooks/useAuth.ts
Due: eslint, prettier, spell-check-student, tsc

feat: 認証情報の取得をスキップするように修正
  apps/student/src/providers/AuthProvider.tsx
Due: eslint, prettier, spell-check-student, tsc

feat: ログイン→ユーザー登録→ホーム画面への流れを実装
  apps/student/.env.example
  apps/student/src/_components/user-info/index.tsx
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/(login)/create-user/page.tsx
  packages/common/src/types/index.ts
  packages/common/src/types/location.ts
Due: eslint, prettier, spell-check-student, tsc

feat: locationsを読むように
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/app/absence/home/page.tsx
  apps/student/src/lib/firebase/converters/index.ts
  apps/student/src/lib/firebase/converters/location-converter.ts
  apps/student/src/lib/firebase/converters/user-converter.ts
  packages/common/src/types/location.ts
Due: eslint, prettier, spell-check-student, tsc

feat: firestoreの型を消す
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/lib/firebase/converters/index.ts
  apps/student/src/lib/firebase/converters/invite-code-converter.ts
  apps/student/src/lib/firebase/converters/location-converter.ts
  apps/student/src/lib/firebase/converters/submission-converter.ts
  apps/student/src/lib/firebase/converters/teacher-whitelist-converter.ts
  apps/student/src/lib/firebase/converters/tercher-whitelist-converter.ts
  apps/student/src/lib/firebase/converters/user-converter.ts
  packages/common/src/types/invite-code.ts
  packages/common/src/types/location.ts
  packages/common/src/types/submission.ts
  packages/common/src/types/teacher-whitelist.ts
  packages/common/src/types/user.ts
Due: eslint, prettier, spell-check-student, tsc

feat: user-operationsを追加、使用
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/firestore/user-operations.ts
  apps/student/src/utils/convert-date.ts
Due: eslint, prettier, spell-check-student, tsc

wip location-operationsを追加、使用
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/app/absence/home/page.tsx
  apps/student/src/firestore/location-operations.ts
  apps/student/src/firestore/submission-operations.ts
  packages/common/src/types/location.ts
  packages/common/src/types/user.ts
Due: eslint, prettier, spell-check-student, tsc

feat: locationコレクションに帰省先を保存
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/app/absence/home/page.tsx
  apps/student/src/firestore/submission-operations.ts
Due: eslint, prettier, spell-check-student, tsc

feat: 欠食届の提出を改善
  apps/student/src/app/absence/meal/actions.ts
  apps/student/src/app/absence/meal/page.tsx
  apps/student/src/firestore/submission-operations.ts
Due: eslint, prettier, spell-check-student, tsc

feat: 履歴を取得
  apps/student/src/app/history/[id]/page.tsx
  apps/student/src/app/history/actions.ts
  apps/student/src/app/history/page.tsx
  apps/student/src/firestore/submission-operations.ts
  apps/student/src/utils/dateUtils.ts
Due: eslint, prettier, spell-check-student, tsc

feat: firebase完全移行
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/(login)/create-user/page.tsx
  apps/student/src/app/develop/login/page.tsx
  apps/student/src/app/history/[id]/page.tsx
  apps/student/src/app/history/_components/history-card/HomeHistoryCard.tsx
  apps/student/src/app/history/_components/history-card/index.stories.tsx
  apps/student/src/app/history/actions.ts
  apps/student/src/app/history/hooks/use-fetch-absences.ts
  apps/student/src/app/history/hooks/use-fetch-home.ts
  apps/student/src/app/history/page.tsx
  apps/student/src/firestore/location-operations.ts
  cspell.json
Due: eslint, prettier, spell-check-student, tsc

fix: prettier ignoreを追加
  apps/student/.prettierignore
  apps/teacher/.prettierignore
Due: none

fix: 日時がdbに保存されない問題
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/utils/dateUtils.ts
Due: eslint, prettier, spell-check-student, tsc

fix: apiエンドポイント
  apps/student/src/hooks/useTokenRefresh.ts
Due: eslint, prettier, spell-check-student, tsc

fix: カスタムクレームの更新ロジック
  apps/student/src/app/api/auth/verify-token/route.ts
Due: eslint, prettier, spell-check-student, tsc

delete: common/README.md
  packages/common/README.md
Due: none

feat: teacher側 firebase login
  apps/teacher/.cursor/rules/pull-request.mdc
  apps/teacher/package.json
  apps/teacher/src/app/(base)/settings/page.tsx
  apps/teacher/src/app/(base)/students/hooks/fetch-students.ts
  apps/teacher/src/app/(base)/students/types/student.ts
  apps/teacher/src/app/api/auth/callback/route.ts
  apps/teacher/src/app/api/auth/session-login/route.ts
  apps/teacher/src/app/api/auth/session-logout/route.ts
  apps/teacher/src/app/api/auth/verify-token/route.ts
  apps/teacher/src/app/debug/page.tsx
  apps/teacher/src/app/error/student-access-denied/page.tsx
  apps/teacher/src/app/error/student-access-denied/styles.module.css
  apps/teacher/src/app/logout/page.tsx
  apps/teacher/src/hooks/useAuth.ts
  apps/teacher/src/lib/firebase/admin.ts
  apps/teacher/src/lib/firebase/client.ts
  apps/teacher/src/middleware.ts
  apps/teacher/src/utils/supabase/client.ts
  apps/teacher/src/utils/supabase/database.types.ts
  apps/teacher/src/utils/supabase/getCurrentUser.ts
  apps/teacher/src/utils/supabase/middleware.ts
  apps/teacher/src/utils/supabase/server.ts
  pnpm-lock.yaml
Due: eslint, prettier, spell-check-teacher, tsc

wip
  apps/teacher/src/app/(base)/reports/_components/reports-client.tsx
  apps/teacher/src/app/(base)/reports/actions.ts
  apps/teacher/src/app/(base)/reports/page.tsx
  apps/teacher/src/app/(base)/students/_components/student-table/index.tsx
  apps/teacher/src/app/(base)/students/_components/students-client.tsx
  apps/teacher/src/app/(base)/students/actions.ts
  apps/teacher/src/app/(base)/students/page.tsx
  apps/teacher/src/firestore/invite-code-operations.ts
  apps/teacher/src/firestore/submission-operations.ts
  apps/teacher/src/firestore/user-operations.ts
  apps/teacher/src/utils/dateUtils.ts
Due: eslint, prettier, spell-check-teacher, tsc

feat: ミドルウェアの設定
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/api/auth/session-login/route.ts
  apps/student/src/app/api/auth/verify-token/route.ts
  apps/teacher/src/app/api/auth/session-login/route.ts
  apps/teacher/src/app/api/auth/verify-token/route.ts
  apps/teacher/src/firestore/submission-operations.ts
  apps/teacher/src/firestore/user-operations.ts
  apps/teacher/src/middleware.ts
  packages/common/src/types/user.ts
  packages/functions/src/index.ts
Due: eslint, prettier, spell-check-student, spell-check-teacher, tsc

fix: format
  apps/student/src/app/(login)/create-user/actions.ts
Due: eslint, prettier, spell-check-student, tsc

feat: pendingの申請を取得できるように
  apps/teacher/src/app/(base)/home/actions.ts
  apps/teacher/src/app/(base)/home/page.tsx
  apps/teacher/src/utils/submissionUtils.ts
Due: eslint, prettier, spell-check-teacher, tsc

feat: 申請のステータス・アップデート、差し戻し理由の表示、帰省申請の詳細表示
  packages/common/src/types/submission.ts
Due: eslint, prettier, tsc

feat: 申請のステータス・アップデート、差し戻し理由の表示、帰省申請の詳細表示
  apps/teacher/src/app/(base)/home/_components/report/index.tsx
  apps/teacher/src/app/(base)/home/actions.ts
  apps/teacher/src/app/(base)/reports/_components/detail-modal/index.tsx
  apps/teacher/src/app/(base)/reports/_type/report.ts
  apps/teacher/src/app/(base)/reports/actions.ts
  apps/teacher/src/app/(base)/reports/page.tsx
  apps/teacher/src/firestore/submission-operations.ts
  apps/teacher/src/utils/submissionUtils.ts
Due: eslint, prettier, spell-check-teacher, tsc

feat: テーブル表示
  apps/teacher/src/app/(base)/students/on-leave/_components/month-select/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/month-select/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/_components/table-view/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/table-view/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/actions.ts
  apps/teacher/src/app/(base)/students/on-leave/page.tsx
  apps/teacher/src/app/(base)/students/on-leave/utils.ts
Due: eslint, prettier, spell-check-teacher, tsc

feat: 帰省ページのテーブル表示を追加
  apps/teacher/src/app/(base)/layout.module.css
  apps/teacher/src/app/(base)/students/on-leave/_components/table-view/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/table-view/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/page.tsx
  apps/teacher/src/app/(base)/students/on-leave/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/utils.ts
Due: eslint, prettier, spell-check-teacher, tsc

feat: 招待コードを管理できるようにする
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/(login)/create-user/page.tsx
  apps/student/src/firestore/invite-code-operations.ts
  apps/teacher/src/app/(base)/code/_components/code-card/index.tsx
  apps/teacher/src/app/(base)/code/actions.ts
  apps/teacher/src/app/(base)/code/page.tsx
  apps/teacher/src/firestore/invite-code-operations.ts
Due: eslint, prettier, spell-check-student, spell-check-teacher, tsc

fix: formatter
  apps/teacher/src/app/(base)/students/on-leave/_components/month-select/styles.module.css
Due: none

feat: 並び順を編集できるように
  apps/teacher/package.json
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-edit-view/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-edit-view/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-view/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-view/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/actions.ts
  apps/teacher/src/app/(base)/students/on-leave/constants.ts
  apps/teacher/src/app/(base)/students/on-leave/page.tsx
  apps/teacher/src/firestore/user-operations.ts
  packages/common/src/types/user.ts
  pnpm-lock.yaml
Due: eslint, prettier, spell-check-teacher, tsc

fix: eslint error
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-edit-view/index.tsx
Due: eslint, prettier, spell-check-teacher, tsc

feat: 並び順表示機能
  apps/teacher/src/app/(base)/students/on-leave/_components/date-select/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/date-select/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-view/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-view/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/page.tsx
  apps/teacher/src/app/(base)/students/on-leave/utils.ts
Due: eslint, prettier, spell-check-teacher, tsc
