Repository mokkun55/yurigaoka-app: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, spell-check-student, spell-check-teacher

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    # 最優先: ステージされたファイルのみフォーマット
    prettier:
      priority: 1
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    # チェック系（エラーでもコミットを妨げない）
    eslint:
      priority: 2
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: pnpm run lint

    tsc:
      priority: 2
      glob: '*.{js,ts,tsx}'
      run: pnpm run tsc

    spell-check-student:
      priority: 2
      glob: 'apps/student/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: cd apps/student && pnpm cspell "src/**/*.{ts,tsx,md,json}"

    spell-check-teacher:
      priority: 2
      glob: 'apps/teacher/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: cd apps/teacher && pnpm cspell "src/**/*.{ts,tsx,md,json}"

feat: テーブル表示で今日の日付をハイライトする
  apps/teacher/src/app/(base)/students/on-leave/_components/table-view/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/table-view/styles.module.css
Due: prettier, eslint, tsc, spell-check-teacher

fix: format error
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-edit-view/styles.module.css
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-view/styles.module.css
Due: none

fix: 重なることを禁止
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-edit-view/index.tsx
Due: prettier, eslint, tsc, spell-check-teacher

update: git ignore
  .gitignore
Due: none

feat: 環境変数に切り出す
  .github/PULL_REQUEST_TEMPLATE.md
  apps/student/.env.example
  apps/student/src/app/api/auth/refresh-session/route.ts
  apps/student/src/app/api/auth/session-login/route.ts
  apps/student/src/app/api/auth/session-logout/route.ts
  apps/student/src/app/api/auth/verify-token/route.ts
  apps/student/src/middleware.ts
  apps/teacher/.env.example
  apps/teacher/src/app/api/auth/session-login/route.ts
  apps/teacher/src/app/api/auth/session-logout/route.ts
  apps/teacher/src/app/api/auth/verify-token/route.ts
  packages/functions/.env.example
  packages/functions/src/index.ts
Due: prettier, eslint, tsc, spell-check-student, spell-check-teacher

feat: seed dataの更新、追加
  apps/student/scripts/seed-emulator.ts
  firestore.rules
Due: prettier, eslint, tsc, spell-check-student

feat: 遅延評価
  apps/student/src/app/api/auth/refresh-session/route.ts
  apps/student/src/app/api/auth/session-login/route.ts
  apps/student/src/app/api/auth/session-logout/route.ts
  apps/student/src/app/api/auth/verify-token/route.ts
  apps/student/src/lib/firebase/admin.ts
  apps/student/src/middleware.ts
  apps/teacher/src/app/api/auth/session-login/route.ts
  apps/teacher/src/app/api/auth/session-logout/route.ts
  apps/teacher/src/app/api/auth/verify-token/route.ts
  apps/teacher/src/lib/firebase/admin.ts
  packages/functions/src/index.ts
Due: prettier, eslint, tsc, spell-check-student, spell-check-teacher

feat: setting page FE
  apps/student/src/_components/ui/delete-modal/index.tsx
  apps/student/src/app/(setting)/setting/page.tsx
Due: prettier, eslint, tsc, spell-check-student

feat: 学生側 設定画面の実装
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/(setting)/setting/actions.ts
  apps/student/src/app/(setting)/setting/page.tsx
  apps/student/src/firestore/location-operations.ts
Due: prettier, eslint, tsc, spell-check-student

feat: 教員側 設定画面の実装 フロントエンド
  apps/teacher/src/app/(base)/settings/_components/club-options-section.tsx
  apps/teacher/src/app/(base)/settings/_components/submission-deadline-section.tsx
  apps/teacher/src/app/(base)/settings/_components/time-settings-section.tsx
  apps/teacher/src/app/(base)/settings/page.tsx
  apps/teacher/src/app/(base)/settings/styles.module.css
Due: prettier, eslint, tsc, spell-check-teacher

feat: 教師側 設定画面 実装
  apps/student/scripts/seed-emulator.ts
  apps/teacher/src/app/(base)/settings/_components/submission-deadline-section.tsx
  apps/teacher/src/app/(base)/settings/actions.ts
  apps/teacher/src/app/(base)/settings/page.tsx
  apps/teacher/src/app/(base)/settings/styles.module.css
  apps/teacher/src/firestore/system-config-operations.ts
  packages/common/src/types/index.ts
  packages/common/src/types/system-config.ts
Due: prettier, eslint, tsc, spell-check-student, spell-check-teacher

fix: 教師側 設定画面 門限時刻の自動計算
  apps/teacher/src/app/(base)/settings/page.tsx
Due: prettier, eslint, tsc, spell-check-teacher

feat: setting config
  apps/student/src/app/(login)/create-user/actions.ts
  apps/student/src/app/(login)/create-user/page.tsx
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/app/absence/home/page.tsx
  apps/student/src/app/absence/meal/actions.ts
  apps/student/src/app/absence/meal/page.tsx
  apps/student/src/firestore/system-config-operations.ts
  apps/teacher/src/app/(base)/students/on-leave/_components/lineup-view/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/_components/table-view/index.tsx
  apps/teacher/src/app/(base)/students/on-leave/actions.ts
  apps/teacher/src/app/(base)/students/on-leave/page.tsx
  apps/teacher/src/app/(base)/students/on-leave/utils.ts
Due: prettier, eslint, tsc, spell-check-student, spell-check-teacher

feat: お知らせを消し、ホーム画面のデザインを変更
  apps/student/src/_components/ui/application-card/index.tsx
  apps/student/src/app/(home)/_components/notice-list/index.tsx
  apps/student/src/app/(home)/page.tsx
  apps/teacher/src/app/(base)/layout.tsx
  apps/teacher/src/app/(base)/notifications/page.tsx
  apps/teacher/src/ui/header/page-header-actions.tsx
  apps/teacher/src/ui/header/page-header.tsx
  apps/teacher/src/ui/sidebar/item/index.tsx
Due: prettier, eslint, tsc, spell-check-student, spell-check-teacher

feat: 学生側メール通知
  apps/student/.env.example
  apps/student/package.json
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/app/absence/meal/actions.ts
  apps/student/src/app/api/send-notification/route.ts
  apps/student/src/utils/email.ts
  pnpm-lock.yaml
Due: prettier, eslint, tsc, spell-check-student

refactor: rename 百合が丘サポート → 帰省申請アプリ
  apps/student/src/app/(login)/create-user/page.tsx
  apps/student/src/app/(login)/login/page.tsx
  apps/student/src/app/layout.tsx
Due: prettier, eslint, tsc, spell-check-student

feat: メール通知
  apps/student/src/utils/email.ts
  apps/teacher/.env.example
  apps/teacher/package.json
  apps/teacher/src/app/(base)/home/actions.ts
  apps/teacher/src/app/(base)/reports/actions.ts
  apps/teacher/src/utils/email.ts
  pnpm-lock.yaml
Due: prettier, eslint, tsc, spell-check-student, spell-check-teacher

feat: 先生&寮長の管理
  apps/teacher/src/app/(base)/home/page.tsx
  apps/teacher/src/app/(base)/layout.tsx
  apps/teacher/src/app/(base)/reports/page.tsx
  apps/teacher/src/app/(base)/students/leaders/_components/teacher-card/index.tsx
  apps/teacher/src/app/(base)/students/leaders/_components/teacher-card/styles.module.css
  apps/teacher/src/app/(base)/students/leaders/actions.ts
  apps/teacher/src/app/(base)/students/leaders/page.tsx
  apps/teacher/src/app/(base)/students/leaders/styles.module.css
  apps/teacher/src/firestore/teacher-whitelist-operations.ts
  apps/teacher/src/hooks/useAuth.ts
  apps/teacher/src/middleware.ts
  apps/teacher/src/ui/header/page-header.tsx
  apps/teacher/src/ui/sidebar/item/index.tsx
  apps/teacher/src/utils/auth.ts
  packages/common/src/types/teacher-whitelist.ts
Due: prettier, eslint, tsc, spell-check-teacher

fix: スタイル修正
  apps/teacher/src/app/(base)/students/leaders/_components/teacher-card/styles.module.css
  apps/teacher/src/app/(base)/students/leaders/styles.module.css
Due: none

feat: システム設定の管理
  apps/student/scripts/seed-emulator.ts
  apps/student/src/firestore/system-config-operations.ts
  apps/student/src/utils/email.ts
  apps/teacher/src/app/(base)/settings/_components/notification-settings-section.tsx
  apps/teacher/src/app/(base)/settings/page.tsx
  apps/teacher/src/firestore/system-config-operations.ts
  packages/common/src/types/system-config.ts
Due: prettier, eslint, tsc, spell-check-student, spell-check-teacher

feat: システム設定の追加
  apps/student/src/app/absence/home/actions.ts
  apps/student/src/app/absence/home/page.tsx
  apps/student/src/app/absence/meal/actions.ts
  apps/student/src/app/absence/meal/page.tsx
  apps/student/src/utils/submissionValidation.ts
Due: prettier, eslint, tsc, spell-check-student

feat: ignore firebase-export files
  .gitignore
Due: none

feat: change home page
  apps/teacher/src/app/(base)/home/page.tsx
  apps/teacher/src/app/(base)/home/styles.module.css
  apps/teacher/src/ui/sidebar/item/index.tsx
Due: prettier, eslint, tsc, spell-check-teacher

fix: メアド欄を広げる
  apps/teacher/src/app/(base)/settings/_components/notification-settings-section.tsx
Due: prettier, eslint, tsc, spell-check-teacher

feat: 寮長をhomeにアクセスできるように
  apps/teacher/src/middleware.ts
Due: prettier, eslint, tsc, spell-check-teacher
